@import 'src/styling/typography.scss';

.Keywords {
  margin-top: .5rem;
  &__title {
    @extend .typography__section--title; 
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
  }
}