@import '../../styling/utils.scss';
@import '../../styling/spacing.scss';
@import '../../styling/breakpoints.scss';
@import '../../styling/colors.scss';

.App {
  @extend .drop-shadow;
  background-color: $color__background--body;
  position: relative;
  padding-top: 162px;

  @include mq('lg') {
    width: $break--lg;
    margin: 1rem auto;
  }

  &__experiences {
    @include mq('sm') {
      margin-top: -7rem;
    }
    .Keyword {
      background-color: $color__section--experience;
    }
  }

  &__educations {
    .Keyword {
      background-color: $color__section--education;
    }
  }

  &__volounteering {
    .Keyword {
      background-color: $color__section--volounteering;
    }
  }
  &__courses {
    .Keyword {
      background-color: $color__section--courses;
    }
  }

  &__skills {
    @extend .padding__section;
    
    .Keyword {
      background-color: $color__section--skills;
    }
  }

  &__footer {
    @extend .padding__footer;
  }
}