@import '../../styling/utils.scss';
@import '../../styling/spacing.scss';
@import '../../styling/breakpoints.scss';
@import '../../styling/colors.scss';

.App {
  @extend .drop-shadow;
  background-color: $color__background--body;

  @include mq('sm') {
    width: $break--lg;
    margin: $app-margin__vert / 2 auto;
  }
  
  &__experiences {
    @include mq('sm') {
      margin-top: -7rem;
    }
  }

  &__keywords {
    @extend .padding__section;
  }

  &__footer {
    @extend .padding__section--footer;
  }
}