@import '../../styling/utils.scss';
@import '../../styling/spacing.scss';
@import '../../styling/breakpoints.scss';
@import '../../styling/colors.scss';

.App {
  @extend .drop-shadow;
  background-color: $color__background--body;

  @include mq('sm') {
    width: $break--lg;
    margin: $spacing__vert/2 auto;
  }
  
  &__keywords {
    @extend .padding__section--middle;
  }
}