@import 'src/styling/colors.scss';
@import 'src/styling/breakpoints.scss';

.PageHeaderContact {
  display: flex;
  justify-content: center;
  order: -1;
  width: 100%;

  @include mq('sm') {
    order: 0;
    width: auto;
    display: block;
  }

  & > * {
    &:not(:first-child) {
      margin-left: 1rem;
    }

    svg {
      transition: transform 80ms ease-out;
  
      $size: 1.4rem;
      $size--sm: .6;
      width: $size !important;
      height: $size !important;
      
      @include mq('sm') {
        width: $size + $size--sm !important;
        height: $size + $size--sm !important;
      }
  
      &:hover {
        cursor: pointer;
        transform: scale(1.5);
      }
  
      &[data-icon*=facebook] {
        color: $color__brands--facebook;
      }
      &[data-icon*=linkedin] {
        color: $color__brands--linkedin;
      }
      &[data-icon*=github] {
        color: $color__brands--github;
      }
      &[data-icon*=skype] {
        color: $color__brands--skype;
      }
  }
  }
}