@import 'src/styling/colors.scss';
@import 'src/styling/breakpoints.scss';
@import 'src/styling/animations.scss';

.PageHeaderContact {
  $this: &;
  $icon-size--collapsed: 1.2rem;
  $icon-size: 1.4rem;
  $icon-size--sm: 1.8rem;

  display: flex;
  justify-content: space-evenly;
  order: -1;
  width: 100%;

  @include mq('sm') {
    order: 0;
    width: auto;
    display: block;
  }
  
  &__link {
    &:not(:first-child) {
      margin-left: 1rem;
    }
  }

  &__icon {
    transition: all $transition__time--fast ease-out;

    width: $icon-size !important;
    height: $icon-size !important;
    
    @include mq('sm') {
      width: $icon-size--sm !important;
      height: $icon-size--sm !important;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.5);
    }

    &[data-icon*=facebook] {
      color: $color__brands--facebook;
    }
    &[data-icon*=linkedin] {
      color: $color__brands--linkedin;
    }
    &[data-icon*=github] {
      color: $color__brands--github;
    }
    &[data-icon*=skype] {
      color: $color__brands--skype;
    }
  }

  &.headerCollapsed {
    display: none;
  }
}
