@import 'src/styling/spacing.scss';
@import 'src/styling/breakpoints.scss';

.PageHeaderBranding {
    $this: &;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;

    @include mq('sm') {
        text-align: start;
        width: auto;
        margin-top: 0;
    }

    &__photo {
        border-radius: 50%;
        $img-size: 3.5rem;
        width: $img-size;
        height: $img-size;

        @include mq('sm') {
            display: none;
        }
    }

    &__name {
        transition: transform 350ms ease-out;
        transform: translate(0);
    }

    &__title {
        transition: opacity 200ms;
        opacity: 1;
    }

    &.headerCollapsed {
        #{$this}__name {
            transform: translate(0, 16px);
        }
        #{$this}__title {
            opacity: 0;
        }
    }
}