@import 'src/styling/spacing.scss';
@import 'src/styling/breakpoints.scss';
@import 'src/styling/typography.scss';
@import 'src/styling/animations.scss';

.PageHeaderBranding {
    $this: &;

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    
    @include mq('sm') {
        text-align: start;
        width: auto;
        margin-top: 0;
    }

    &__photo {
        border-radius: 50%;
        $img-size: 3.5rem;
        width: $img-size;
        height: $img-size;
        transition: all $transition__time--regular ease-out;

        @include mq('sm') {
            display: none;
        }
    }

    &__name {
        line-height: 1;
        transition: font-size $transition__time--regular ease-out;
    }

    &.headerCollapsed {
        margin-top: 0;
        justify-content: flex-start;
        #{$this}__photo {
            $img-size: 2rem;
            width: $img-size;
            height: $img-size;
    
            @include mq('sm') {
                display: none;
            }
        }
        #{$this}__name-title {
            margin-left: 1rem;
        }
        #{$this}__name {
            font-size: 1em;
        }
        #{$this}__title {
            font-size: .8rem;
            display: none;
        }
        @include mq('sm') {
            #{$this}__name {
                font-size: 1.4rem;
            }
            #{$this}__title {
                font-size: 1.2rem;
                display: none;
            }
        }
    }
}