@import '../../styling/spacing.scss';
@import '../../styling/breakpoints.scss';
@import '../../styling/colors.scss';
@import '../../styling/animations.scss';

.PageHeader {
  @extend .padding__header;
  position: fixed;
  z-index: 9999;
  top: 0;
  border-bottom: 1px solid $color__border--light;
  
  background-color: $color__background--body;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: padding $transition__time--regular ease-out;
  
  @include mq('sm') {
    position: absolute;
    width: $break--lg;
    flex-direction: row;
  }
  
  &.headerCollapsed {
    box-shadow: 0 0 10px $color__shadow--light;
    padding: .5rem $app-margin__hori;
    flex-direction: row;
    
    @include mq('sm') {
      position: fixed;
      padding: .5rem $app-margin__hori--sm;
    }    
  }
}
