@import '../../styling/spacing.scss';
@import '../../styling/breakpoints.scss';
@import '../../styling/colors.scss';
@import '../../styling/animations.scss';

.PageHeader {
  @extend .padding__header;
  position: absolute;
  top: 0;
  background-color: $color__background--body;
  z-index: 9999;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid $color__border--light;
  width: $break--lg;
  transition: all $transition__time--regular ease-out;

  @include mq('sm') {
    flex-direction: row;
    justify-content: space-between;
  }
  
  &.headerCollapsed {
    @extend .padding__header--collapsed;
    
    position: fixed;
    box-shadow: 0 0 10px $color__shadow--light;
    
  }
}
