@import 'typography.scss';

html {
  background-color: #dedede;
  font-size: $font-base-size;
  @include mq('sm') {
    font-size: $font-base-size--sm;
  }
}

body {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}
