@import 'typography.scss';
@import 'colors.scss';
@import 'breakpoints.scss';

html {
  background-color: $color__background--html;
  font-size: $font-base-size;
}

body {
  color: $color__text--regular;
  font-family: 'Lato', sans-serif;
  line-height: 1.45;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  &:not(:hover) {
    text-decoration: none;
  }
  color: $color__text--regular;
}
