@import 'typography.scss';
@import 'colors.scss';
@import 'breakpoints.scss';

html {
  background-color: $color__background--html;
  font-size: $font-base-size;
  @include mq('sm') {
    // font-size: $font-base-size--sm;
  }

}

body {
  color: $color__text--regular;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color__text--regular
}
