// shadow
$color__shadow--light: #aaa;
$color__shadow--regular: #777;


// background
$color__background--html: #dedede;
$color__background--body: white;


// text
$color__text--light: #999;
$color__text--regular: #333;
$color__text--regular: black;


// brands
$color__brands--facebook: #4367B2;
$color__brands--skype: #1FB7EC;
$color__brands--linkedin: #0077B5;
$color__brands--github: #323131;
