@import 'breakpoints.scss';

// the outermost component (aka. 'page')
$app-margin__hori: 2rem;
$app-margin__vert: 2rem;
$app-margin__hori--sm: 7rem;
$app-margin__vert--sm: 4rem;

// the 'sections' of the page (ex. 'Intro')
$section-margin__vert: 2rem;
$section-margin__vert--sm: 2rem;

// used for generation 'padding' code
@mixin padding($values...) {    
  @each $var in $values {
      padding: #{$var};
  }
}

// upper-most section ('header')
.padding__header {
  @include padding(
    $app-margin__vert 
    $app-margin__hori
  );

  @include mq('sm') {
    @include padding (
      $app-margin__vert--sm 
      $app-margin__hori--sm 
      $section-margin__vert--sm 
      $app-margin__hori--sm
    );
  }
}

.padding__header--collapsed {
  // @include padding(
  //   $app-margin__vert 
  //   $app-margin__hori
  // );

  @include mq('sm') {
    @include padding (
      0 
      $app-margin__hori--sm 
      // $section-margin__vert--sm 
      // $app-margin__hori--sm
    );
  }
}

// lower-most section ('footer')
.padding__footer {
  @include padding(
    $app-margin__vert 
    $app-margin__hori
  );

  @include mq('sm') {
    @include padding (
      $section-margin__vert--sm 
      $app-margin__hori--sm 
      $app-margin__vert--sm 
      $app-margin__hori--sm
    );
  }
}

// middle section
.padding__section {
  @include padding(
    $app-margin__vert 
    $app-margin__hori 
    0 
    $app-margin__hori 
  );

  @include mq('sm') {
    @include padding (
      $section-margin__vert--sm 
      $app-margin__hori--sm 
      0 
      $app-margin__hori--sm
    );
  }
}

.no-spacing {
  margin: 0;
  padding: 0;
}
