@import url('https://fonts.googleapis.com/css?family=Lato');
@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

$font-base-size: 1em;
$font-base-size--sm: 1.2em;

$modularscale: (
  base: $font-base-size $font-base-size--sm,
  ratio: 1.2
);

h1 { font-size: ms(5); margin-top: 0; }
h2 { font-size: ms(4); margin-top: 0; }
h3 { font-size: ms(3); margin-top: 0; }
h4 { font-size: ms(2); margin-top: 0; }
h5 { font-size: ms(1); margin-top: 0; }
h6 { font-size: ms(0); margin-top: 0; }
