@import url('https://fonts.googleapis.com/css?family=Lato');
@import '../../node_modules/modularscale-sass/stylesheets/modularscale';

$font-base-size: 1em;
$font-base-size--sm: 1.2em;

$modularscale: (
  base: $font-base-size $font-base-size--sm,
  ratio: 1.2
);

h1, .h1 { font-size: ms(5); }
h2, .h2 { font-size: ms(4); }
h3, .h3 { font-size: ms(3); }
h4, .h4 { font-size: ms(2); }
h5, .h5 { font-size: ms(1); }
h6, .h6 { font-size: ms(0); }