@import 'colors.scss';
@import 'animations.scss';
@import 'breakpoints.scss';

// hide stuff...
.hidden {
    display: none;
}

// shadow under image
.curved-shadow { 
  $rotate: 3deg;
  position: relative;
  
  &:hover {
    &:before, &:after {
      box-shadow: 0 14px 10px $color__shadow--regular;
    }
  }
  
  &:before, &:after {
    transition: box-shadow $transition__time--regular ease-out;
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 4px;
    width: 48%;
    top: 80%;
    background: $color__shadow--regular;
    box-shadow: 0 20px 10px $color__shadow--regular;
    transform: rotate($rotate * -1);
  }
  &:after {
    transform: rotate($rotate);
    right: 4px;
    left: auto;
  }
}

.drop-shadow {
  box-shadow: 0 0 10px $color__shadow--light;
}

.blockquote {
  margin: 2rem .5rem .5rem;
  quotes: "\201C""\201D";
  color: $color__text--light;

  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;
  }
}

.timeline {

  @include mq('sm') {
    $spacing: 22px;
    $unit: 4px;
    $line: $unit / 4;
  
    $date: $unit * 20;
    $dot: $unit * 2.5;
    
    border-left: $line solid $color__border--light2;
    border-bottom-right-radius: $unit;
    border-top-right-radius: $unit;    
    padding: 10px $spacing;
    margin-left: 4rem;
    
    .event {
      padding-bottom: ($spacing * 0.5);
      margin-bottom: $spacing;  
      position: relative;
  
      &:last-of-type { 
        padding-bottom: 0;
        margin-bottom: 0; 
        border: none;      
      }
  
      &:before, &:after {
        position: absolute;
        display: block;
        top: 0;
      }
  
      &:before {
        left: $date * -1;
        top: 5px; 
        content: attr(data-date);
        text-align: right;
        color: $color__text--light;
      }
  
      &:after {
        box-shadow: 0 0 0 $line $color__border--light2;        
        left: ($spacing + $line + ($dot * 0.5)) * -1;        
        background-color: white;
        border-radius: 50%;
        height: $dot;
        width: $dot;
        content: "";
        top: 13px;
      }
    }
  }
}