@import 'colors.scss';

// hide stuff...
.hidden {
    display: none;
}

// shadow under image
.curved-shadow { 
  $rotate: 3deg;
  position: relative;
  
  &:hover {
    &:before, &:after {
      box-shadow: 0 14px 10px $color__shadow--regular;
    }
  }
  
  &:before, &:after {
    transition: box-shadow 150ms ease-out;
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 4px;
    width: 48%;
    top: 80%;
    background: $color__shadow--regular;
    box-shadow: 0 20px 10px $color__shadow--regular;
    transform: rotate($rotate * -1);
  }
  &:after {
    transform: rotate($rotate);
    right: 4px;
    left: auto;
  }
}

.drop-shadow {
  box-shadow: 0 10px $color__shadow--light;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.blockquote {
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
  color: $color__text--light;

  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  p {
    display: inline;
  }
}