@import 'src/styling/typography.scss';

.Experience {
  &__title {
    @extend .typography__experience--title; 
  }

  &__company {
    @extend .typography__experience--company;
  }

  &__date {
    margin-left: .5rem;
    color: $color__text--light;
    font-style: italic;
  }
  
  &__description {
    @extend .typography__experience--text;
  }
}