@import 'src/styling/typography.scss';

.Experience {
  &__title {
    @extend .typography__experience--title; 
  }

  &__company {
    @extend .typography__experience--company;
  }

  &__date {
    margin-top: 0;
    margin-bottom: 0;
    color: $color__text--light;
    font-style: italic;
    font-size: .8rem;
  }
  
  &__description {
    @extend .typography__experience--text;
  }
}