@import '../../styling/utils.scss';
@import '../../styling/spacing.scss';
@import '../../styling/typography.scss';
@import '../../styling/colors.scss';
@import '../../styling/breakpoints.scss';

.Intro {
  @extend .padding__section;
  
  display: flex;

  &__summary {
    @extend .blockquote;
    @extend .h5;
    margin: 0;
  }
  
  &__author {
    @extend .hidden;
  }
  
  &__portrait {
    @extend .curved-shadow;
    display: none;
    
    @include mq('sm') {
      display: block;
      z-index: 0;
      transform: rotate(2deg);
      transition: transform 150ms ease-out;
  
      &:hover {
        transform: rotate(0);
      }
  
      &--frame {
        border: 12px solid $color__background--body;
        box-shadow: 0 0 1px $color__text--light;
      }
      
      &--img {
        height: 14rem;
      }      
    }
  }
}
