@import '../../styling/utils.scss';
@import '../../styling/spacing.scss';

.Intro {
  @extend .padding__section--middle;
  
  display: flex;
  font-style: italic;

  &__summary-author {
    @extend .hidden;
  }

  &__portrait {
      @extend .curved-shadow;
      
      &-img {
        height: 14rem;
      }
  }
}